<%= render 'shared/errors', obj: @article %>
<%= form_with(model: @article, local: true) do |f| %>
  <div class="px-3">
    <div class="form-group row mb-3">
      <%= f.label :title, class: "col-2 col-form-label fw-semibold text-muted ps-0" %> <br>
  <!--    <div class="col-10">-->
        <%= f.text_field :title, class: "form-control", placeholder: "Enter article title" %>
  <!--    <small id="emailHelp" class="form-text text-muted">Characters in range 6-30</small>-->
  <!--    </div>-->
    </div>

    <div class="form-group row mb-3">
      <%= f.label :description, class: "col-2 col-form-label fw-semibold text-muted ps-0" %> <br>
      <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Enter article description" %>
  <!--    <small id="emailHelp" class="form-text text-muted">Minimum 10 characters</small>-->
    </div>

<!--    <div class="form-group row">-->
<!--      <%#= f.label :category, class: "col-2 col-form-label fw-semibold text-muted ps-0" %> <br>-->
      <%#= f.collection_select(:category_ids, Category.all, :id, :name, {prompt: "Please Select a Category(Optional)"}, {multiple: true, size: 3, class: "select"}) %>
<!--    </div>-->

    <div class="form-group mb-3">
      <div class="row">
        <div class="ps-0">
          <%= f.label :category, class: "col-2 col-form-label fw-semibold text-muted ps-0" %> <br>
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
            <% cb.label(class: "checkbox-inline input_checkbox me-4") {cb.check_box(class: "checkbox me-1") + cb.text } %>
          <% end %>
        </div>
      </div>
    </div>

    <% if current_user.admin? %>
      <div class="form-group mb-3">
        <div class="row">
          <div class="ps-0">
            <%= f.label :featured, class: "col-2 col-form-label fw-semibold text-muted ps-0" %> <br>
            <%= f.radio_button :featured, true %>Yes
            <%= f.radio_button :featured, false %>No
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-group row">
      <%= f.submit class: "btn btn-primary mt-4" %>
    </div>
  </div>
<% end %>