<%= render 'shared/errors' %>
<%= form_with(model: @article, local: true) do |f| %>
  <div class="form-group row mb-2">
    <%= f.label :title, class: "col-2 col-form-label" %> <br>
<!--    <div class="col-10">-->
      <%= f.text_field :title, class: "form-control", placeholder: "Enter article title" %>
<!--    </div>-->
  </div>
  <div class="form-group row">
    <%= f.label :description, class: "col-2 col-form-label" %> <br>
    <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter article description" %>
  </div>
  <div class="form-group row">
    <%= f.submit class: "btn btn-primary mt-4" %>
  </div>
<% end %>