<div class="section-profile">
  <div style="flex-grow: 3; order: -1">
    <div class="container py-4">
<!--      <h1 class="text-center mb-5">Article Details</h1>-->
      <% if @article.categories.length > 0 %>
        <div class="my-4 text-center d-block" id="tags">
          <b>Tags: &nbsp;</b> <%= render @article.categories %>
        </div>
      <% end %>
      <div class="m-md-auto p-3 p-4 py-5 w-75" id="article_display">
        <small class="d-flex justify-content-between mb-lg-4">
          <% if @article.user %>
            <%= link_to user_path(@article.user), class: 'text-decoration-none d-flex align-items-stretch justify-content-center gap-3 text-dark' do %>
              <div class="text-muted d-flex align-items-center"><%= gravatar_for(@article.user, size: 40, style:"rounded-circle") %></div>
              <div class="d-flex flex-column justify-content-center gap-1">
                <span class="fw-bold fs-6"><%= @article.user.username %></span>
                <span class="text-muted"><%= @article.created_at.strftime("%b %d, %Y") %></span>
              </div>
            <% end %>
          <% end %>
          <i class="text-muted align-self-end">Updated <%= time_ago_in_words(@article.updated_at) %> ago</i>
        </small>
        <hr>
        <div class="mt-4">
          <h5 class="text-capitalize fw-bold fs-3 mb-4"><%= @article.title %></h5>
          <p class=""><%= @article.description %></p>
          <br>
          <div id="votes">
            <% if current_user != @article.user %>
              <%= link_to raw("&#128079; #{pluralize(@article.upvotes, 'Clap')}"), upvote_path, method: :post, class: "text-decoration-none text-warning" %>
            <% else %>
              <span class="text-warning user-select-none">&#128079; <%= pluralize(@article.upvotes, 'Clap') %></span>
            <% end %>
          </div>
          <% if logged_in? %>
            <% if @article.user == current_user %>
              <div class="mt-4">
                <%= link_to 'Edit', edit_article_path, class: "btn btn-outline-primary" %>
                <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
              </div>
            <% elsif current_user.admin? %>
              <div class="mt-4">
                <%= link_to 'Edit', edit_article_path, class: "btn btn-outline-primary" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div style="flex-grow: 1; justify-items: end">
    <%= render partial: 'users/userprofile', locals: { user: @article.user} %>
  </div>
</div>