<div class="container">

  <div id="users">
    <% @users.each do |user| %>
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="card border-5 text-center mb-5 bg-white rounded" id='article-card'>
            <div class="card-body d-flex justify-content-evenly align-items-center">
              <h5 class="card-title"><%= link_to gravatar_for(user, size: 150, style: "rounded-circle border"), user, class: 'text-decoration-none' %></h5>
              <div>
                <div>
                  <%= link_to user.username, user, class: "fs-5 fw-bold text-decoration-none text-dark" %>
                  <% if user.admin? %>
                    <span class="badge rounded-pill bg-primary ms-1">Admin</span>
                  <% end %>
                </div>
                <div class="card-text py-1">
                  <span class="text-muted fw-bolder fs-6"><%= user.articles.count %></span>
                  <span class="text-muted text-uppercase" style="font-size:13px;letter-spacing:1px">Article<%= "s" if user.articles.count != 1 %></span>
                </div>
                <div class="text-muted mb-3">
                  <small><i>Joined <%= time_ago_in_words(user.created_at) %> ago</i></small>
                </div>
                <%= link_to 'View', user, class: 'btn btn-outline-success' %>
                <% if logged_in? %>
                  <% if user == current_user %>
                    <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-outline-primary' %>
                  <% end %>
                  <% if current_user.admin? %>
                    <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete the user account and all associated articles?"}, class: 'btn btn-outline-danger' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>