<div class="container">

  <div id="users">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="row">
          <% @users.each do |user| %>
            <div class="col-sm-6 col-xl-4">
              <div class="card border-5 text-center mb-5 bg-white rounded py-3" id='article-card'>
                <div class="card-body user-profile">
                  <h5 class="card-title"><%= link_to gravatar_for(user, size: 150, style: "rounded-circle border mb-1"), user, class: 'text-decoration-none' %></h5>
                  <div>
                    <div class="d-flex justify-content-center align-items-center gap-1">
                      <%= link_to user.username, user, class: "fs-5 fw-semibold text-decoration-none", style:"color:#242424" %>
                      <%# if user.admin? %>
<!--                        <span class="ms-1">-->
<!--                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#00a86b" class="bi bi-patch-check-fill" viewBox="0 0 16 16">-->
<!--                            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>-->
<!--                          </svg>-->
<!--                        </span>-->
                      <%# end %>
                      <% if user != current_user %>
                        <% if current_user.following?(user) %>
                            <%= link_to("/unfollow/#{user.id}", method: :post, class: "text-decoration-none") do %>
                              <span class="d-block badge bg-success ms-1">Following</span>
                            <% end %>
                        <% elsif user.following?(current_user) %>
                          <%= link_to("/follow/#{user.id}", method: :post, class: "text-decoration-none") do %>
                            <span class="d-block badge bg-primary ms-1">Follow Back</span>
                          <% end %>
                        <% else %>
                          <%= link_to("/follow/#{user.id}", method: :post, class: "text-decoration-none") do %>
                            <span class="d-block badge bg-primary ms-1">Follow</span>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="text-muted mb-3">
                      <small><i>Joined <%= time_ago_in_words(user.created_at) %> ago</i></small>
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-3 my-3">
                      <div class="card-text py-1 d-flex flex-column">
                        <span class="text-muted fw-bolder fs-6"><%= user.followers.count %></span>
                        <span class="text-muted text-uppercase" style="font-size:13px;letter-spacing:1px">Follower<%= "s" if user.articles.count != 1 %></span>
                      </div>
                      <div class="card-text py-1 d-flex flex-column">
                        <span class="text-muted fw-bolder fs-6"><%= user.articles.count %></span>
                        <span class="text-muted text-uppercase" style="font-size:13px;letter-spacing:1px">Article<%= "s" if user.articles.count != 1 %></span>
                      </div>
                      <div class="card-text py-1 d-flex flex-column">
                        <span class="text-muted fw-bolder fs-6"><%= user.followings.count %></span>
                        <span class="text-muted text-uppercase" style="font-size:13px;letter-spacing:1px">Following</span>
                      </div>
                    </div>

                    <%= link_to 'View Profile', user, class: 'btn user-profile__btn--view my-2' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>