<h1 class="text-center my-5 fw-bolder"><%= @user.username %>'s Profile</h1>

<div class="section-profile">
  <div style="flex-grow: 3; order: -1">
    <div class="search-page__tabs mt-3 pb-2 border-bottom">
      <%= link_to(user_path({tab: "articles"}), class: "#{"fw-bold pb-2 border-bottom border-dark" if (params[:tab].blank? or params[:tab]=="articles")}") do %>
        Articles
        <small class="text-muted fw-light rounded-circle">(<%= @user.articles.count %>)</small>
      <% end %>
      <%= link_to(user_path({tab: "following"}), class: "#{"fw-bold pb-2 border-bottom border-dark" if (params[:tab]=="following")}") do %>
        Following
        <small class="text-muted fw-light rounded-circle">(<%= @user.followings.count %>)</small>
      <% end %>
      <%= link_to(user_path({tab: "followers"}), class: "#{"fw-bold pb-2 border-bottom border-dark" if (params[:tab]=="followers")}") do %>
        Followers
        <small class="text-muted fw-light rounded-circle">(<%= @user.followers.count %>)</small>
      <% end %>
    </div>

    <% if params[:tab].blank? or params[:tab].eql?("articles") %>
<!--      <h3 class="mt-5 mb-4 text-center text-decoration-underline">Articles</h3>-->
      <br>
      <%= render 'articles/articlelist' %>

    <% elsif params[:tab].eql?("following") %>
      <% @user.followings.each do |followed_user| %>
        <%= link_to(user_path(followed_user), class:"search-page__entry border-bottom text-decoration-none") do %>
          <%= gravatar_for(followed_user, size: 40, style: "rounded-circle border") %>
          <div class="flex-column flex-grow-1 justify-content-center gap-3">
            <span class="fw-bold"><%= followed_user.username %></span><br>
            <small><%= followed_user.email %></small><br>
            <small>User</small>
          </div>
        <% end %>
      <% end %>
    <% elsif params[:tab].eql?("followers") %>
      <% @user.followers.each do |follower| %>
        <%= link_to(user_path(follower), class:"search-page__entry border-bottom text-decoration-none") do %>
          <%= gravatar_for(follower, size: 40, style: "rounded-circle border") %>
          <div class="flex-column flex-grow-1 justify-content-center gap-3">
            <span class="fw-bold"><%= follower.username %></span><br>
            <small><%= follower.email %></small><br>
            <small>User</small>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div style="flex-grow: 1; justify-items: end">
    <%= render 'userprofile' %>
  </div>

</div>

<div class="flickr_pagination mb-5">
  <%= will_paginate @articles, :container => false %>
</div>
