<%= form_with(model: @category, local: true) do |f| %>
  <div class="px-3">
    <div class="form-group row mb-2">
      <%= f.label :name, "Category Name", class: "col-form-label fw-semibold text-muted ps-0" %> <br>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter category name" %>
    </div>
    <div class="form-group row">
      <%= f.submit class: "btn btn-primary mt-4" %>
    </div>
    <% unless @category.new_record? %>
      <div class="form-group row">
        <%= link_to 'Delete Category', category_path(@category), method: :delete, class: 'btn btn-outline-danger mt-4', data: {confirm: 'Are you sure you want to delete this category?'} %>
      </div>
    <% end %>
  </div>
<% end %>