<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<!--    <a class="navbar-brand" id="logo" href="/">Alpha Blog</a>-->
    <%= link_to 'alphablog', root_path, class: 'navbar-brand', id: 'logo' %>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if logged_in? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-md-1" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <li class="nav-item  <%= "fw-bold" if request.fullpath == "/users" or request.fullpath.include?("/users?") %>">
            <%= link_to 'Users', users_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= "fw-bold" if request.fullpath == "/articles" or request.fullpath.include?("/articles?") %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Articles
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Articles List', articles_path, class: 'dropdown-item' %>
              </li>
              <% if logged_in? %>
                <li>
                  <%= link_to 'Create Article', new_article_path, class: 'dropdown-item' %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= "fw-bold" if request.fullpath == "/categories" or request.fullpath.include?("/categories?") %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'Categories List', categories_path, class: 'dropdown-item' %>
              </li>
              <% if logged_in? and current_user.admin? %>
                <li>
                  <%= link_to 'Create category', new_category_path, class: 'dropdown-item' %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= gravatar_for current_user, size: 25, style: "rounded-circle me-1" %>
              <%= current_user.username %>
              <% if current_user.admin? %>
                <span class="badge rounded-pill bg-primary ms-1">Admin</span>
              <% end %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'View Profile', user_path(current_user), class: 'dropdown-item' %>
              </li>
              <% if logged_in? %>
                <li>
                  <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'dropdown-item' %>
                </li>
              <% end %>
              <li>
                <%= link_to 'Logout', logout_path, class: 'dropdown-item text-danger', method: :delete %>
              </li>
            </ul>
          </li>
<!--          <li class="nav-item">-->
            <%#= link_to current_user.username, user_path(current_user), class: 'nav-link' %>
<!--          </li>-->
<!--          <li class="nav-item">-->
            <%#= link_to 'Logout', logout_path, class: 'nav-link', method: :delete %>
<!--          </li>-->
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>