<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<!--    <a class="navbar-brand" id="logo" href="/">Alpha Blog</a>-->
    <%= link_to 'alphablog', root_path, class: 'navbar-brand', id: 'logo' %>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if logged_in? %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= form_tag(search_path, method: :get, class:"d-flex ms-md-1") do %>
          <%= search_field_tag :search_term, params[:search], placeholder: raw("&#128269; Search"), value: params[:search_term] ,class:"form-control me-2", required: true %>
          <%= button_tag "Search", value: request.fullpath, class: "btn btn-outline-light d-none" %>
        <% end %>
<!--        <form class="d-flex ms-md-1" role="search">-->
<!--          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-light" type="submit">Search</button>-->
<!--        </form>-->
      </div>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <li class="nav-item  <%= "fw-bold" if request.fullpath == "/articles/new" %>">
            <%= link_to(new_article_path, class: "nav-link d-flex align-items-center gap-1") do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
              <span>Write</span>
            <% end %>
          </li>
          <li class="nav-item  <%= "fw-bold" if request.fullpath == "/users" or request.fullpath.include?("/users?") %>">
            <%= link_to 'Users', users_path, class: "nav-link" %>
          </li>
          <li class="nav-item  <%= "fw-bold" if request.fullpath == "/articles" or request.fullpath.include?("/articles?") %>">
            <%= link_to 'Articles', articles_path, class: "nav-link" %>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle <%= "fw-bold" if request.fullpath == "/categories" or request.fullpath.include?("/categories?") %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'Categories List', categories_path, class: 'dropdown-item' %>
                </li>
                <% if logged_in? and current_user.admin? %>
                  <li>
                    <%= link_to 'Create category', new_category_path, class: 'dropdown-item' %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li class="nav-item  <%= "fw-bold" if request.fullpath == "/categories" or request.fullpath.include?("/categories?") %>">
              <%= link_to 'Categories', categories_path, class: "nav-link" %>
            </li>
          <% end %>
        <% end %>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= gravatar_for current_user, size: 25, style: "rounded-circle me-1" %>
              <%= current_user.username %>
              <% if current_user.admin? %>
                <span class="badge rounded-pill bg-primary ms-1">Admin</span>
              <% end %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'View Profile', user_path(current_user), class: 'dropdown-item' %>
              </li>
              <% if logged_in? %>
                <li>
                  <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'dropdown-item' %>
                </li>
              <% end %>
              <li>
                <%= link_to 'Logout', logout_path, class: 'dropdown-item text-danger', method: :delete %>
              </li>
            </ul>
          </li>
<!--          <li class="nav-item">-->
            <%#= link_to current_user.username, user_path(current_user), class: 'nav-link' %>
<!--          </li>-->
<!--          <li class="nav-item">-->
            <%#= link_to 'Logout', logout_path, class: 'nav-link', method: :delete %>
<!--          </li>-->
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>